name: tests

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Set up uv
        uses: astral-sh/setup-uv@v5

      - name: Sync dependencies
        run: uv sync --all-extras --dev --python 3.11

      - name: Run test suite
        run: uv run pytest
